.navbar-dark {
  background-color: #2e86c1;
}

.navbar-brand {
  font-weight: bold;
}

.content {
  min-height: calc(100vh - 20px);
}

/* .back {
  background: url(cool-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.footer{
  background-color: #bdd2fa;
  bottom: 0;
  padding: 20px 0px 20px 0px;
  width: 100%;
}
